-if @facets["section"] and @facets["section"].length > 1
  #facets
    %ul#sections
      %li.all All sections
      -@facets["section"].each do |facet_key|
        %li.section
          %a{:title => "Show only results from #{facet_key[0]}", :href => "#{compose_querystring(nil, "section%7c#{facet_key[0]}")}"}
            ="#{facet_key[0]} &ndash; #{facet_key[1]}"