.info
  - if @results["matches"] == 1
    Showing 1 result
  - else
    Showing #{@start+1} to #{@last_record} of 
    - if @results["matches"] > @start + @page_size
      about
    #{@results["matches"]} results
  - unless @filter.empty?
    from 
    - if @filter[:member]
      contributions by
      %strong #{h(@filter[:member])}
    - else
      %strong #{h(@filter["section"])}
    %a.filter{:href => "?q=#{@query}"} [Show all]