.pagination
  - if @start > 9
    - if params[:f]
      %a{:href => "/?q=#{params[:q]}&p=#{@page-1}&f=#{CGI::escape(params[:f])}", :rel => "Previous"} &lt;&lt Prev
    - else
      %a{:href => "/?q=#{params[:q]}&p=#{@page-1}", :rel => "Previous"} &lt;&lt Prev
  
  - if @results["matches"] > @start + @page_size
    - if params[:f]
      %a{:href => "/?q=#{params[:q]}&p=#{@page+1}&f=#{CGI::escape(params[:f])}", :rel => "Next", :class => "right_link"} Next &gt;&gt;
    - else
      %a{:href => "/?q=#{params[:q]}&p=#{@page+1}", :rel => "Next", :class => "right_link"} Next &gt;&gt;