%form
  %input{:name => "s", :value => h(params[:s])}
  %input{:type => "submit", :value => "Search"}
  
-if @results
  - if @filter
    Showing only results from: 
    %b #{h(params[:val])}
    %a{:href => "?s=#{params[:s]}"} (remove filter)
    %br
  - else
    -if @facets["section"] and @facets["section"].length > 1
      #facets
        %h3 Hansard Section
        %ul
          -@facets["section"].each do |facet_key|
            %li
              %a{:href => "?s=#{params[:s]}&cat=section&val=#{facet_key[0]}"}
                ="#{facet_key[0]} (#{facet_key[1]})"
      
  #results
    -@results["results"].each do |result|
      %p.result
        %span.title
          %a{:href => result["url"]}= result["title"]
        %br
        %span.description= "#{result["house"]} Hansard; Volume: #{result["volume"]} Part: #{result["part"]} Columns: #{result["columns"]}"
        %br
        %span.abstract= result["snippet_text"]
        %br
        %span.url= format_url(result["url"])