%form
  %input{:name => "s", :value => h(params[:s])}
  %input{:type => "submit", :value => "Search"}
  
-if @results
  #results
    -@results["results"].each do |result|
      %p.result
        %span.title
          %a{:href => result["url"]}= result["title"]
        %br
        %span.description= "#{result["house"]} Hansard; Volume: #{result["volume"]} Part: #{result["part"]} Columns: #{result["columns"]}"
        %br
        %span.abstract= result["snippet_text"]
        %br
        %span.url= format_url(result["url"])