%form#search
  %input{:name => "q", :type => "text", :value => params[:q], "x-webkit-speech" => ""}
  %input{:type => "submit", :value => "Search"}
  
-if @results
  - if @results["results"].empty?
    %p Your search - <strong>#{h(@query)}</strong> - did not match any documents.
    %p Suggestions:
    %ul
      %li Make sure all words are spelled correctly.
      %li Try different keywords.
      %li Try more general keywords.
      %li Try fewer keywords.
    - if @member
      %strong #{h(@member.gsub("+", " "))}
    - if @question
      question
      %strong #{h(@question)}
    - if @petition
      petition
      %strong #{h(@petition)}
    - if @member and @suggestions.length > 0
      
      %p
        Did you mean:&nbsp;
        - @suggestions.each do |suggestion|
          %strong>
            %a{:href=>"/?q=member:#{suggestion.gsub(" ","%2B")}"}>= suggestion
          - if @suggestions.length > 1 and suggestion == @suggestions[@suggestions.length - 2]
            &nbsp;or&nbsp;
          - elsif suggestion != @suggestions.last
            ,&nbsp
  -else
    %p
      =haml :_info
    
      - if @member
        - if @query == ""
          Hansard entries featuring contributions by
          %strong #{h(@member.gsub("+", " "))}
        - else
          Hansard entries containing
          %strong #{h(@query)}
          that feature contributions by
          %strong #{h(@member.gsub("+", " "))}
      -elsif @question
        Hansard entries containing question
        %strong #{h(@question)}
      -elsif @petition
        Hansard entries containing petition
        %strong #{h(@question)}
    
    - unless @member or @question or @petition
      Hansard entries containing
      %strong #{h(@query)}
    
  - if @filter.empty?
    =haml :_facets
      
  #results
    -@results["results"].each do |result|
      %p.result
        %span.title
          %a.section{:href => result["url"]}= result["title"]
        %br
        %span.url= format_url(result["url"])
        %br
        - unless display_section(result["section"]) == ""
          %span.description= display_section(result["section"], result["chair"])
          %br
        %span.description
          %cite= "H#{result['house'][0].chr} Deb " + display_time(result["timestamp"]) + " vol #{result["volume"]} cc#{result["columns"]} (Part #{result["part"]})"
        %br
        - if result["snippet_text"] != ""
          %span.abstract
            =result["snippet_text"]
            &hellip;
            
        
  - unless @results["results"].empty?
    =haml :_pagination