%form#search
  %input{:name => "q", :value => params[:q], "x-webkit-speech" => ""}
  %input{:type => "submit", :value => "Search"}
  
-if @results
  - if @results["results"].empty?
    No Hansard entries found for 
    %strong #{h(@query)}
    - if @member
      %strong #{h(@member.gsub("+", " "))}
    - if @member and @suggestions.length > 0
      
      %p
        Did you mean:&nbsp;
        - @suggestions.each do |suggestion|
          %strong>
            %a{:href=>"/?q=member:#{suggestion.gsub(" ","%2B")}"}>= suggestion
          - if @suggestions.length > 1 and suggestion == @suggestions[@suggestions.length - 2]
            &nbsp;or&nbsp;
          - elsif suggestion != @suggestions.last
            ,&nbsp
  -else
    %p
      =haml :_info
    - if @member
      - if @query == ""
        Hansard entries featuring contributions by
        %strong #{h(@member.gsub("+", " "))}
      - else
        Hansard entries containing
        %strong #{h(@query)}
        that feature contributions by
        %strong #{h(@member.gsub("+", " "))}
    - else
      Hansard entries containing
      %strong #{h(@query)}
    
  - unless @filter.empty?
    #filter
      Showing only results from 
      - if @filter[:member]
        contributions by
        %strong #{h(@filter[:member])}
      - else
        %strong #{h(params[:val])}.
      %a.filter{:href => "?q=#{@query}"} [Show all]
      %br
  - else
    =haml :_facets
      
  #results
    -@results["results"].each do |result|
      %p.result
        %span.title
          %a.section{:href => result["url"]}= result["title"]
        %br
        - unless display_section(result["section"]) == ""
          %span.description= display_section(result["section"], result["chair"])
          %br
        %span.description
          %strong
            =display_time(result["timestamp"])
          ="&mdash; #{result["house"]} Hansard Vol #{result["volume"]}; Part #{result["part"]}; Cols #{result["columns"]}"
        %br
        - if result["snippet_text"] != ""
          %span.abstract= result["snippet_text"]
          %br
        %span.url= format_url(result["url"])
  - unless @results["results"].empty?
    =haml :_pagination