%form#search
  %input{:name => "q", :value => h(params[:q])}
  %input{:type => "submit", :value => "Search"}
  
-if @results
  - if @results["results"].empty?
    No results for #{h(params[:q])}
    
  - if @filter
    #filter
      Showing only results from 
      %strong #{h(params[:val])}.
      %a.filter{:href => "?q=#{params[:q]}"} [Show all]
      %br
  - else
    -if @facets["section"] and @facets["section"].length > 1
      #facets
        %h3 Sections
        %ul#sections
          -@facets["section"].each do |facet_key|
            %li.section
              %a{:href => "?q=#{params[:q]}&cat=section&val=#{facet_key[0]}"}
                ="#{facet_key[0]} (#{facet_key[1]})"
      
  #results
    -@results["results"].each do |result|
      %p.result
        %span.title
          %a.section{:href => result["url"]}= result["title"]
        %br
        - if result["section"] == "Westminster Hall"
          %span.description= "<strong>Westminster Hall</strong> &mdash; #{result["chair"]} in the Chair"
          %br
        %span.description= "<strong>#{result["house"]} Hansard</strong> Vol #{result["volume"]}; Part #{result["part"]}; Cols #{result["columns"]}"
        %br
        %span.abstract= result["snippet_text"]
        %br
        %span.url= format_url(result["url"])
