%form
  %input{:name => "q", :value => h(params[:q])}
  %input{:type => "submit", :value => "Search"}
  
-if @results
  - if @filter
    Showing only results from: 
    %b #{h(params[:val])}
    %a{:href => "?q=#{params[:q]}"} (remove filter)
    %br
  - else
    -if @facets["section"] and @facets["section"].length > 1
      #facets
        %h3 Hansard Section
        %ul
          -@facets["section"].each do |facet_key|
            %li
              %a{:href => "?q=#{params[:q]}&cat=section&val=#{facet_key[0]}"}
                ="#{facet_key[0]} (#{facet_key[1]})"
      
  #results
    -@results["results"].each do |result|
      %p.result
        %span.title
          %a{:href => result["url"]}= result["title"]
        %br
        %span.description= "#{result["house"]} #{result["section"]}; Vol #{result["volume"]}; Part #{result["part"]}; Cols #{result["columns"]}"
        %br
        %span.abstract= result["snippet_text"]
        %br
        %span.url= format_url(result["url"])
