%form#search
  %input{:name => "q", :value => params[:q]}
  %input{:type => "submit", :value => "Search"}
  
-if @results
  - if @results["results"].empty?
    No Hansard entries found for 
    %strong #{h(@query)}
    - if @member
      %strong #{h(@member.gsub("+", " "))}
    - if @member and @suggestions.length > 0
      
      %p
        Did you mean:&nbsp;
        - @suggestions.each do |suggestion|
          %strong>
            %a{:href=>"/?q=member:#{suggestion.gsub(" ","%2B")}"}>= suggestion
          - if @suggestions.length > 1 and suggestion == @suggestions[@suggestions.length - 2]
            &nbsp;or&nbsp;
          - elsif suggestion != @suggestions.last
            ,&nbsp
  -else
    %p
      =haml :_info
    - if @member
      - if @query == ""
        Hansard entries featuring contributions by
        %strong #{h(@member.gsub("+", " "))}
      - else
        Hansard entries containing
        %strong #{h(@query)}
        that feature contributions by
        %strong #{h(@member.gsub("+", " "))}
    - else
      Hansard entries containing
      %strong #{h(@query)}
    
  - unless @filter.empty?
    #filter
      Showing only results from 
      - if @filter[:member]
        contributions by
        %strong #{h(@filter[:member])}
      - else
        %strong #{h(params[:val])}.
      %a.filter{:href => "?q=#{@query}"} [Show all]
      %br
  - else
    -if @facets["section"] and @facets["section"].length > 1
      #facets
        %h3 Sections
        %ul#sections
          -@facets["section"].each do |facet_key|
            %li.section
              %a{:href => "?q=#{params[:q]}&cat=section&val=#{facet_key[0]}"}
                ="#{facet_key[0]} (#{facet_key[1]})"
      
  #results
    -@results["results"].each do |result|
      %p.result
        %span.title
          %a.section{:href => result["url"]}= result["title"]
        %br
        - if result["section"] == "Westminster Hall"
          %span.description= "<strong>Westminster Hall</strong> &mdash; #{result["chair"]} in the Chair"
          %br
        %span.description= "<strong>#{Time.at(result["timestamp"].to_i).utc.strftime("%d %b %Y")}</strong> &mdash; #{result["house"]} Hansard Vol #{result["volume"]}; Part #{result["part"]}; Cols #{result["columns"]}"
        %br
        - if result["snippet_text"] != ""
          %span.abstract= result["snippet_text"]
          %br
        %span.url= format_url(result["url"])
  - unless @results["results"].empty?
    =haml :_pagination